body {
    display: flex;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    overflow: hidden;
    left: 80px;
}

.ground {
    width: 500px;
    height: 150px;
    background-color: #ad8f62;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.sky {
    width: 500px;
    height: 580px;
    background-color: #8ee9f5;
    position: absolute;
}

.bird {
    background-color: yellow;
    position: absolute;
    width: 60px;
    height: 45px;
}

.obstacle {
    background-color: rgb(6, 160, 70);
    position: absolute;
    width: 60px;
    height: 300px;
}
.topObstacle {
    background-color: rgb(6, 160, 70);
    transform: rotate(180deg);
    position: absolute;
    width: 60px;
    height: 300px;
}

.borderLeft {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 60px;
    height: 790px;
    z-index: +2 ;
}

.borderRight {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 60px;
    height: 790px;
    z-index: +2 ;
    left: 580px;
}

.borderTop {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 660px;
    height: 50px;
    z-index: +2 ;
    top: -50px;
}

#startButton {
    background-color: rgb(255, 0, 0);
    position: absolute;
    width: 100px;s
    height: 50px;
    top: 300px;
    left: 210px;
}

@keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  @-webkit-keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }

  .ground-container {
      height: 150px;
      width: 580px;
      left: 80px;
      position:  absolute;
  }
  
  .ground-moving {
    position: absolute;
    top: 580px;
    height: 150px;
    background-image: url('bottom-background.png');
    background-repeat: repeat-x;
    animation: slideright 100s infinite linear;
    -webkit-animation: slideright 100s infinite linear;
    width: 100%;
    z-index: +1;
  }